*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}


#contenitore {
   
    height: 80px;
}

#titologo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.8em;
    vertical-align: middle;
}

#logo {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    margin-top: 18px;
    margin-left: 18px;
}

#container {
    width: 60%;
    background-color: ivory;
    margin: auto;
    
    
}

header {
    background-color: ivory;
}

body {
    background-color: khaki;
}

.sezione1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#task {
    background-color: rgb(75, 183, 255);
    color: white;
    margin-right: 0.5px;
    padding: 4px;
    border-radius: 5px;
    border: solid 0.5px;
    

}
    
#section {
    background-color: seashell;
    color: grey;
    margin-left: 0.5px;
    padding: 3px;
    border: grey solid 0.1px;
    border-radius: 5px;
    
}

.scatolone {
    border: solid black 1px;
    padding: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
    
