*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

header {
    height: 80px;
    padding: 20px 10px;
}



#titologo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: inline;
    vertical-align: middle;
    
}

#logo {
    height: 100%;
    
    vertical-align: middle;
    
    display: inline;
}

#container {
    width: 60%;
    
    margin: auto;
}

header {
    background-color: ivory;
}

body {
    background-color: khaki;
}

.titolista {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 16px;
    
}

#task {
    background-color: rgb(75, 183, 255);
    color: white;
    margin-right: 0.5px;
    padding: 4px;
    border-radius: 5px;
    border: solid 0.5px;
    margin-left: 15px;
}
    
#section {
    background-color: seashell;
    color: grey;
    margin-left: 0.5px;
    padding: 3px;
    border: grey solid 0.1px;
    border-radius: 5px;
    
    
}

.scatolone {
    border: solid khaki 1px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 20px;
    background-color: ivory;
    
}
    
.sezione {
    margin: 25px;
}

.container2 {
    border: khaki solid 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: ivory;
}

li {
    margin: 15px;
}

.b-b {
    background-color: cadetblue;
    color: gainsboro;
    padding: 6px;
    border-radius: 10px;
}

.violas {
    background-color: rgb(139, 0, 139);
    color: gainsboro;
    padding: 6px;
    border-radius: 10px;
}

.petrolios {
    background-color: rgb(1, 31, 87);
    color: gainsboro;
    padding: 6px;
    border-radius: 10px;
}

.arancios {
    background-color: darkorange;
    color: gainsboro;
    padding: 5px;
    border-radius: 10px;
}

.rosas {
    background-color: deeppink;
    color: gainsboro;
    padding: 6px;
    border-radius: 10px;
}

.verdebrutto {
    background-color: rgb(24, 124, 24);
    color: gainsboro;
    padding: 6px;
    border-radius: 10px;
}

ul {
    list-style-type: none;
}

.checkfreccia::before{
  content: "\2304";
  
}

.checkv::before{
    content: "\2713";
    color: lawngreen;
    display: inline-block;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    border-color: lawngreen;
    border: 1px solid;
    
}

.checkx::before{
    content: "\0078";
    color: red;
    display: inline-block;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    border-color: red;
    border: 1px solid;
    
}



