*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}


#contenitore {
   
    height: 80px;
    
    
}

#titologo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.8em;
    vertical-align: middle;
}

#logo {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    margin-top: 18px;
    margin-left: 18px;
}
    
    
